ul {
  list-style-type: none;
}
.header-bar {
  display: table;
  height: 64px;
  position: fixed;
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.12),inset 0 -1px 0 0 #dadce0;
}
.nav-bar {
  display: block;
  position: absolute;
  right: 0;
}
.badges-list {
  display: block;
}